#content .blocks{
	margin: 0;
	padding: 0;
}

#content .blocks li{
	position: relative;
	display: inline-block;
	margin: 0 10px 10px 0;
	overflow: hidden;

	line-height: 70px;
	vertical-align: middle;
}

#content .blocks li:hover{
	color: #265F01;
}



