  sensor {
	float: left;
	position: relative;
	height: 200px;
	width: 200px;
	background: #ddd;
	border-radius: 25px;
	padding: 10px;
	margin: 10px;
	font-size: 1vw;
	text-align: center;
  }
  
sensor.txt_sensor_value{
	display: block;
	
}
