sensor {
	float: left;
	position: relative;
	height: 200px;
	width: 200px;
	background: #ddd;
	border-radius: 25px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	transition: background 0.3s ease;
}

  
sensor:hover{
	background: #aaa;
	transform: scale(1.1);
}

sensor txt_sensor_name{
	font-size: 20px;
}

sensor txt_sensor_value{
	display: block;
}


/*used for setting the image font color*/

sensor i{
	font-size: 1px;
	color: #000;
}

sensor i.on{
	color: #48a770;
}

sensor i.off{
	color: #444;
}
