body{
	background: #444;
}

sensor {
	float: left;
	position: relative;
	height: 200px;
	width: 200px;
	background: #ddd;
	border-radius: 25px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	transition: background 0.3s ease;
}

.tooltip.popup .tooltip-inner{
	height: 200px;
	color: #FF0000;
	background-color: #ffff66;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	white-space:pre-wrap;
}

sensor:hover{
	background: #aaa;
	transform: scale(1.1);
}

sensor txt_sensor_name{
	font-size: 20px;
}

sensor txt_sensor_value{
	display: block;
}


/*used for setting the image font color*/

i_sensor.standby{
	font-size: 110px;
	color: #eee;
}

i_sensor.on{
	font-size: 110px;
	color: #48a770;
}

i_sensor.off{
	font-size: 110px;
	color: #444;
}